kvk-dp-testbackend-webservice/WebContent/wsdl/CalculatorPort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dp.kvk.backendtest.nl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://dp.kvk.backendtest.nl">
 
    <wsdl:types>
        <xsd:schema xmlns="http://dp.kvk.backendtest.nl" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dp.kvk.backendtest.nl">
 
             <xsd:element name="optellen">
                <xsd:complexType>
                   <xsd:sequence>
                      <xsd:element name="waarde1" type="xsd:int"/>
                      <xsd:element name="waarde2" type="xsd:int"/>
                   </xsd:sequence>
                </xsd:complexType>
             </xsd:element>
             <xsd:element name="aftrekken">
                <xsd:complexType>
                   <xsd:sequence>
                      <xsd:element name="waarde1" type="xsd:int"/>
                      <xsd:element name="waarde2" type="xsd:int"/>
                   </xsd:sequence>
                </xsd:complexType>
             </xsd:element>

 
             <xsd:element name="rekenenResponse">
                <xsd:complexType>
                   <xsd:sequence>
                      <xsd:element name="return" type="xsd:string"/>
                   </xsd:sequence>
                </xsd:complexType>
             </xsd:element>
        </xsd:schema>
    </wsdl:types>
   
    <wsdl:message name="optellen">
       <wsdl:part element="tns:optellen" name="optellen"/>
    </wsdl:message>

    <wsdl:message name="aftrekken">
       <wsdl:part element="tns:aftrekken" name="aftrekken"/>
    </wsdl:message>

 
    <wsdl:message name="optellenResponse">
       <wsdl:part element="tns:rekenenResponse" name="optellenResponse"/>
    </wsdl:message>
    <wsdl:message name="aftrekkenResponse">
       <wsdl:part element="tns:rekenenResponse" name="aftrekkenResponse"/>
    </wsdl:message>

 
    <wsdl:portType name="CalculatorPortType">
       <wsdl:operation name="optellen">
         <wsdl:input message="tns:optellen" name="optellen"/>
         <wsdl:output message="tns:optellenResponse" name="optellenResponse"/>
       </wsdl:operation>
       <wsdl:operation name="aftrekken">
         <wsdl:input message="tns:aftrekken" name="aftrekken"/>
         <wsdl:output message="tns:aftrekkenResponse" name="aftrekkenResponse"/>
       </wsdl:operation>
       
    </wsdl:portType>
         
    <wsdl:binding name="CalculatorSoapBinding" type="tns:CalculatorPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
         
        <wsdl:operation name="optellen">
            <soap:operation soapAction="optellen" style="document"/>
            <wsdl:input name="optellen">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="optellenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="aftrekken">
            <soap:operation soapAction="aftrekken" style="document"/>
            <wsdl:input name="aftrekken">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="aftrekkenResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

                 
    </wsdl:binding>
   
    <wsdl:service name="Calculator">
        <wsdl:port binding="tns:CalculatorSoapBinding" name="CalculatorPort">
            <soap:address location="http://localhost:8080/kvk-dp-testbackend-webservice/services/CalculatorPort"/>
        </wsdl:port>
    </wsdl:service>
       
</wsdl:definitions>
